*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Menu-principal{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: black;
}
.logo1{
    color: white;
    position: relative;
    left: 100px;
    font-size: 40px;
    top: 60px;
    text-decoration: none;
}
.logo2{
    color: white;
    position: relative;
    left: 80px;
    font-size: 40px;
    top: 30px;
    text-decoration: none;
}
.Caminhos-menu{
    height: 500px;
    position: relative;
    top: -73px;
    font-size: 30px;
    left: 980px;
    text-decoration: none;
    color: whi;
}
input{
    width: 550px;
    position: relative;
    left: 350px;
    top: -20px;
    height: 55px;
    text-align: 1000px; 
    border-radius: 100px;
}
.placeholder{
    position: relative;
    left: 1000px;
}
.sugestoes{
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 91, 191);
    height: 40px;
    gap: 30px;
    font-size: 25px;
}
.sugestoes2{
    color: white;
    position: relative;
    left: 25px;
    text-decoration: none;
    top: 5px;
}
.Caminhos-menu :hover{
    color: purple;
}
.logo{
    position: absolute;
    height: 190px;
    top: -40px;
}
.compras{
    height: 90px;
    position: relative;
    left: 550px;
    top: -45px;
}